{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div style="height: -50px;"></div>
    <div class="content">
    </div>
    <div class="container mt-5 mb-5">
        {% for i in products %}
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-6 d-flex align-items-center justify-content-center">
                                    <div class="images p-3 text-center">
                                        <!-- Ảnh Chính -->
                                        <img id="main-image" src="{{ i.imageURL }}" class="img-fluid main-img" />

                                        <!-- Ảnh Phụ -->
                                        <div class="d-flex justify-content-center mt-3 thumbnails-container">
                                            {% for image in i.product_images.all|slice:":3" %}
                                                <img src="{{ image.imageURL }}" class="thumbnail-img mx-1"
                                                     onclick="changeMainImage(this)">
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="product p-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <!-- Nút Back với Icon -->
                                        <a href="{% url 'menu' %}" class="d-flex align-items-center text-decoration-none text-secondary">
                                            <i class="fa fa-arrow-left mr-1"></i> <!-- Icon mũi tên quay lại -->
                                            <span>Back</span>
                                        </a>

                                        <!-- Icon Giỏ Hàng -->
                                        <i class="fa fa-shopping-cart text-muted"></i>
                                    </div>

                                        <div>
                                            <h5 class="text-uppercase font-weight-bold">{{ i.name }}</h5>
                                            <div class="price d-flex flex-row align-items-center">
                                                {% if i.sale %}
                                                    <span class="old-price text-muted" style="text-decoration: line-through; opacity: 0.6;">${{ i.price }}</span>
                                                    <span class="new-price text-danger font-weight-bold ml-2">${{ i.final_price }}</span>
                                                {% else %}
                                                    <span class="act-price">${{ i.price }}</span>
                                                {% endif %}
                                            </div>

                                        </div>
                                        <p class="about">{{ id.detail }}</p>
                                        <div class="cart mt-4 align-items-center">
                                            <form action="{% url 'update_item' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="productId" value="{{ products.first.id }}">
                                            <input type="hidden" name="action" value="add">
                                            <button type="submit" class="btn btn-dark w-100">Add</button>
                                        </form>
                                        </div>
                                        <!-- Bảng Nutrition Facts -->
                                        <h5 class="mt-4 font-weight-bold">Nutritional Information</h5>
                                        <table class="table table-bordered mt-2">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Nutrient</th>
                                                    <th scope="col">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Calories</td>
                                                    <td>{{ i.calories }} kcal</td>
                                                </tr>
                                                <tr>
                                                    <td>Protein</td>
                                                    <td>{{ i.protein }} g</td>
                                                </tr>
                                                <tr>
                                                    <td>Carbs</td>
                                                    <td>{{ i.carbs }} g</td>
                                                </tr>
                                                <tr>
                                                    <td>Fat</td>
                                                    <td>{{ i.fat }} g</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <!-- Mô tả sản phẩm -->
                                        <h5 class="mt-3 font-weight-bold">Description</h5>
                                        <p>{{ i.description }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
<div id="menu_highlights_all" class="bg-white-100 py-12">
    <div class="container mx-auto px-4">
        <h1 class="text-center text-2xl font-bold mb-8 text-[#FFB7B2]">
            ALL PRODUCTS
        </h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-4">
            {% for product in products_all %}
                <a href="{% url 'detail' %}?id={{ product.id }}" class="block text-center bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all relative">

                    <!-- Nhãn SALE -->
                    {% if product.sale %}
                        <span class="absolute top-2 left-2 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded">
                            SALE
                        </span>
                    {% endif %}


                    {% if product.digital %}
                        <span class="absolute top-2 right-2 bg-red-500 text-black text-xs font-bold px-2 py-1 rounded">
                            BEST
                        </span>
                    {% endif %}

                    <div class="overflow-hidden rounded-lg">
                        <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="w-full h-64 object-cover rounded-lg transform group-hover:scale-105 transition-all duration-300"/>
                    </div>
                    <h2 class="text-lg font-bold mt-4 text-black">
                        {{ product.name }}
                    </h2>
                    <p class="text-sm text-gray-600">
                        {{ product.detail }}
                    </p>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<style>
    .thumbnails-container {
    max-width: 100%;
    overflow: hidden;
    gap: 5px; /* Khoảng cách giữa các ảnh */
}

.thumbnail-img {
    transition: transform 0.2s ease-in-out;
}

.thumbnail-img:hover {
    transform: scale(1.1); /* Hiệu ứng zoom nhẹ khi hover */
}

</style>

{% endblock content %}
