{% extends "app/base.html" %}
{% load static %}
{% block content %}
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Follow your health</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-order-history">Order history</a>
                        <a class="list-group-item list-group-item-action d-flex align-items-center" data-toggle="list" href="#account-connections">
                            Endow
                            <span class="points-badge {% if customer.points >= 10 %}green{% else %}red{% endif %}">
                                {{ customer.points }}
                            </span>
                        </a>


                    </div>

                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <!--nn-->
                        <div class="tab-pane fade active show" id="account-general">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="card-body media align-items-center">
                                    <img src="{% if customer.customer_image %}{{ customer.customer_image.url }}{% else %}https://bootdey.com/img/Content/avatar/avatar1.png{% endif %}"
                                        alt="Profile Image" class="profile-img" id="profile-img">
                                    <br>
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new Avatar
                                            <input type="file" class="account-settings-fileinput" name="customer_image" id="image-input">
                                        </label>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control mb-1" name="username" value="{{ user.username }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" class="form-control" name="full_name" value="{{ user.first_name }} {{ user.last_name }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="email" class="form-control mb-1" name="email" value="{{ user.email }}">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success redeem-btn" name="update_profile">Save Changes</button>
                                </div>
                            </form>
                        </div>

                        <!-- Chỉ để 1 class "show active" -->
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <form method="POST" action="{% url 'change_password' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control" name="old_password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control" name="new_password1" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control" name="new_password2" required>
                                    </div>
                                    <button type="submit" class="btn btn-success redeem-btn">Save Changes</button>
                                </form>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mt-3">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>


                        <!-- nn -->
                        <div class="tab-pane fade" id="account-order-history">
                            <div class="card-body pb-2">
                                <h5 class="mb-3">Order History</h5>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Order Name</th>
                                            <th>Time</th>
                                            <th>Total Calories</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                Order{{ order.id }}{% if order.is_scheduled %} (Scheduled){% endif %}
                                            </td>
                                            <td>{{ order.date_order }}</td>
                                            <td>{{ order.get_total_nutrition.calories }} kcal</td>
                                            <td>${{ order.get_cart_total }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5" class="text-center">No orders found.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- nn -->
                        <div class="tab-pane fade text-center" id="account-connections">
                            <div class="card-body">
                                <h5 class="mb-3">🎉 Your Reward Points 🎉</h5>

                                <div class="d-flex justify-content-center">
                                    <div class="circle">
                                        <span class="points-text">{{ customer.points }}</span>
                                    </div>
                                </div>

                                <p class="mt-3">💰 Earn points and redeem them for discounts!
                                   <br> Every <strong>10 points</strong> = 10% discount on your next order.</p>

                                {% if customer.points >= 10 %}
                                    <form action="{% url 'redeem_points' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success redeem-btn">Redeem Now</button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-secondary redeem-btn" disabled>Not enough points</button>
                                {% endif %}
                            </div>
                        </div>

                        <!-- nn -->
                        <div class="tab-pane fade" id="account-notifications">
                            <div class="card-body pb-2">

                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="bmi-section">
                                        <h4>Check your BMI and earn recommend from menu now 🤩</h4>
                                        <input type="number" name="height" placeholder="Height (cm)" required>
                                        <input type="number" name="weight" placeholder="Weight (kg)" required>
                                        <button type="submit" name="track_weight" class="btn btn-success redeem-btn">Calculate BMI</button>
                                    </div>
                                </form>

                                {% if customer.weight_logs.exists %}
                                    <div class="circle_cc">
                                        <h5>BMI:{{ customer.weight_logs.last.bmi }}</h5>
                                    </div>

                                {% endif %}

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Height (cm)</th>
                                            <th>Weight (kg)</th>
                                            <th>BMI</th>
                                            <th>Health Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for log in customer.weight_logs.all %}
                                        <tr>
                                            <td>{{ log.date }}</td>
                                            <td>{{ log.height }}</td>
                                            <td>{{ log.weight }}</td>
                                            <td>{{ log.bmi }}</td>
                                            <td>{{ log.health_status }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br>
                                <h1 class="text-center text-2xl font-bold mb-8 text-black">
                                    Set your own Schedule
                                </h1>
                                <form method="POST">
                                    {% csrf_token %}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                {% for day in week_days %}
                                                <th>{{ day }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for meal_type in meal_types %}
                                            <tr>
                                                <td><strong>{{ meal_type|title }}</strong></td>
                                                {% for day in week_days %}
                                                <td>
                                                    <div id="meal-container-{{ day }}-{{ meal_type }}">
                                                        <div class="meal-select">
                                                            <select name="meal_{{ day }}_{{ meal_type }}" required>
                                                                <option value="">Chọn món</option>
                                                                {% for category in product_categories %}
                                                                    <optgroup label="{{ category.name }}">
                                                                        {% for product in category.products.all %}
                                                                            <option value="{{ product.id }}">{{ product.name }} ({{ product.calories }} kcal)</option>
                                                                        {% empty %}
                                                                            <option disabled>Không có món nào</option>
                                                                        {% endfor %}
                                                                    </optgroup>
                                                                {% empty %}
                                                                    <option disabled>Không có danh mục</option>
                                                                {% endfor %}
                                                            </select>
                                                            <button type="button" class="add-meal-btn" onclick="addMealSelect('{{ day }}', '{{ meal_type }}')">+</button>
                                                        </div>
                                                    </div>

                                                    <button type="button" onclick="saveMeals('{{ day }}', '{{ meal_type }}')">Save</button>
                                                    <p id="selected-meals-{{ day }}-{{ meal_type }}" class="selected-meals"></p>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>

                                    <!-- Nút Save Changes -->
                                    <button type="submit" name="update_meal_plan" class="btn btn-success redeem-btn">
                                        <i class="fas fa-save"></i> Save Changes
                                    </button>

                                </form>



                            </div>
                        </div>


                            </div>
                        </div>
                        <!-- nn -->
                    </div>
                </div>
            </div>

<script>
    var productCategories = [
        {% for category in product_categories %}
        {
            name: "{{ category.name }}",
            products: [
                {% for product in category.products.all %}
                { id: "{{ product.id }}", name: "{{ product.name }}", calories: "{{ product.calories }}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];
</script>



<script src="{% static 'app/js/my_account.js' %}" defer></script>
{% endblock %}





